### use # to comment out the configure item


### I/O ###
##source-domain
train_dir_1=data/conll03NER/train
dev_dir_1=data/conll03NER/dev
test_dir_1=data/conll03NER/test
##target-domain
train_dir_2=data/BioNLP13PC/train
dev_dir_2=data/BioNLP13PC/dev
test_dir_2=data/BioNLP13PC/test

model_dir=data/check_point/cross_ner_model
word_emb_dir=data/vocab/glove.6B.100d.txt

norm_word_emb=False
norm_char_emb=False
norm_task_emb=False
norm_domain_emb=False
number_normalized=True
seg=True
word_emb_dim=100
char_emb_dim=30
task_emb_dim=8
domain_emb_dim=8
sample_num=50

###NetworkConfiguration###
use_crf_sl=True
use_crf_lm=False
use_lm_sample = True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
#nbest=1

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=30
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
#gpu
#clip=
